@charset "utf-8";

body {
  font-family:  "Comic Sans MS", "Baskerville Old Face", "Times New Roman", "Trebuchet MS";
  background-image: url("boat.png");
  margin-left: 100px;
  color:#D14446;
  
}

fieldset  {
	margin-right: 1000px
}

form {
	color:#ffffff;
}